annotated-types
anyio
attrs
beautifulsoup4
boto3
botocore
certifi
chardet
charset-normalizer
click==8.1.7
cryptography
distro
docx
ecdsa
et-xmlfile
h11
httpcore
httpx
idna
jmespath
joblib
jsonschema==4.17.3
jsonschema-specifications
lxml
nltk
openai
openpyxl
Pillow
pyasn1
pydantic
pydantic_core
pypdfium2
pyrsistent
python-dateutil
python-docx
python-dotenv
python-jose
python-pptx
pytz
PyYAML
referencing
regex
requests
rpds-py
rsa
s3transfer
six
sniffio
soupsieve
tiktoken
tqdm
typing_extensions
urllib3
XlsxWriter
