boto3
botocore
chardet
cryptography
python-jose
jsonschema
Pillow
pydantic
python-dotenv
requests
PyYAML
openpyxl
beautifulsoup4
pypdfium2
python-pptx
nltk==3.8.1
python-docx
tiktoken
psycopg2-binary
pymysql
pyodbc
duckdb
snowflake-connector-python
google-cloud-bigquery
cx_Oracle