boto3
botocore
chardet
cryptography
python-jose
jsonschema
Pillow>=11.3.0
pydantic>=2.11.9
python-dotenv
requests
PyYAML
openpyxl
beautifulsoup4>=4.13.4
pypdfium2
python-pptx
nltk==3.8.1
python-docx
tiktoken>=0.12.0
psycopg2-binary
pymysql
pyodbc
duckdb
snowflake-connector-python
google-cloud-bigquery
cx_Oracle
