beautifulsoup4==4.12.3
boto3==1.29.1
botocore==1.32.1
docx==0.2.4
Flask==3.0.3
nltk==3.8.1
openai==1.35.3
openpyxl==3.1.2
pydantic==2.7.4
pypdfium2==4.25.0
python_docx==1.1.0
python_pptx==0.6.23
PyYAML==6.0.1
PyYAML==6.0.1
Requests==2.32.3
setuptools==69.2.0
tiktoken==0.5.2
