git+https://github.com/gaiin-platform/pycommon.git@v0.1.0
jose==1.0.0
Pillow==10.1.0
pyyaml==6.0.2
tiktoken==0.6.0
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
cryptography>=36.0.0,<46.0.0 #as per the dependencies requirements
cffi==1.17.1
requests==2.32.4