service: amplify-${self:custom.depName}-data-disclosure

frameworkVersion: "3"

package:
  exclude:
    - node_modules/**
    - venv/**

plugins:
  - serverless-offline
  - serverless-python-requirements
  - serverless-prune-plugin
  - serverless-cloudformation-changesets  

custom:
  stageVars: ${file(../var/${self:provider.stage}-var.yml)}
  depName: ${self:custom.stageVars.DEP_NAME}
  pythonRequirements:
    dockerizePip: true

  cf-changesets:
    requireChangeSet: ${ssm:/amplify/${sls:stage}/CHANGE_SET_BOOLEAN} 
  stages:
    - dev
    - staging
    - prod

  # Base paths for Parameter Store
  ssmBasePath: /amplify/${sls:stage}/amplify-${self:custom.depName}

provider:
  name: aws
  runtime: python3.11
  stage: ${opt:stage, 'dev'}
  region: ${self:custom.stageVars.DEP_REGION}
  versionFunctions: false
  logRetentionInDays: 365
  apiGateway:
    restApiId:
      Fn::ImportValue: !Sub "${sls:stage}-RestApiId"
    restApiRootResourceId:
      Fn::ImportValue: !Sub "${sls:stage}-RestApiRootResourceId"
  environment:
    CHANGE_SET_BOOLEAN: ${self:custom.stageVars.CHANGE_SET_BOOLEAN}
    LOG_LEVEL: ${self:custom.stageVars.LOG_LEVEL}
    
    API_BASE_URL: https://${ssm:/amplify/${sls:stage}/CUSTOM_API_DOMAIN}
    IDP_PREFIX: ${ssm:/amplify/${sls:stage}/IDP_PREFIX}
    OAUTH_AUDIENCE: ${ssm:/amplify/${sls:stage}/OAUTH_AUDIENCE}
    OAUTH_ISSUER_BASE_URL: ${ssm:/amplify/${sls:stage}/OAUTH_ISSUER_BASE_URL}
    SERVICE_NAME: ${self:service}
    STAGE: ${sls:stage}

    # Locally Defined Variables
    DATA_DISCLOSURE_ACCEPTANCE_TABLE: ${self:service}-${sls:stage}-acceptance
    DATA_DISCLOSURE_IAM_POLICY_NAME: ${self:service}-${sls:stage}-iam-policy
    DATA_DISCLOSURE_STORAGE_BUCKET: ${self:service}-${sls:stage}-storage #Marked for future deletion
    DATA_DISCLOSURE_VERSIONS_TABLE: ${self:service}-${sls:stage}-versions

    # Imported Variables from Parameter Store
    ACCOUNTS_DYNAMO_TABLE: ${ssm:${self:custom.ssmBasePath}-lambda/ACCOUNTS_DYNAMO_TABLE}
    API_KEYS_DYNAMODB_TABLE: ${ssm:${self:custom.ssmBasePath}-object-access/API_KEYS_DYNAMODB_TABLE}
    COST_CALCULATIONS_DYNAMO_TABLE: ${ssm:${self:custom.ssmBasePath}-amplify-js/COST_CALCULATIONS_DYNAMO_TABLE}
    ENV_VARS_TRACKING_TABLE: ${ssm:${self:custom.ssmBasePath}-lambda/ENV_VARS_TRACKING_TABLE}
    S3_CONSOLIDATION_BUCKET_NAME: ${ssm:${self:custom.ssmBasePath}-lambda/S3_CONSOLIDATION_BUCKET_NAME}

  iam:
    role:
      managedPolicies:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::${aws:accountId}:policy/${self:provider.environment.DATA_DISCLOSURE_IAM_POLICY_NAME}    



functions:
  # determine if a user exists as an "accepted" record in the DataDisclosureAcceptanceTable
  check_dd_decision:
    handler: data_disclosure.check_data_disclosure_decision
    memorySize: 512
    timeout: 30
    events:
      - http:
          path: data-disclosure/check
          method: get
          cors: true

  # save the user's acceptance or denial of the data disclosure in the DataDisclosureAcceptanceTable
  save_dd_decision:
    handler: data_disclosure.save_data_disclosure_decision
    timeout: 30
    events:
      - http:
          path: data-disclosure/save
          method: post
          cors: true

  # get the most recent data disclosure from DataDisclosureVersionsTable
  get_latest_dd:
    handler: data_disclosure.get_latest_data_disclosure
    timeout: 30
    events:
      - http:
          path: data-disclosure/latest
          method: get
          cors: true


  upload_dd:
    handler: data_disclosure.get_presigned_data_disclosure
    timeout: 10
    events:
      - http:
          path: data-disclosure/upload
          method: post
          cors: true


  convertDataDisclosure:
    handler: data_disclosure.convert_uploaded_data_disclosure
    events:
      - s3:
          bucket: !Ref DataDisclosureStorage
          event: s3:ObjectCreated:*
          existing: true
          rules:
            - suffix: .pdf


resources:
  Resources:
    DataDisclosureIAMPolicy:
      Type: AWS::IAM::ManagedPolicy
      Properties:
        ManagedPolicyName: ${self:provider.environment.DATA_DISCLOSURE_IAM_POLICY_NAME}
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Action:
                - secretsmanager:GetSecretValue
                - dynamodb:Query
                - dynamodb:Scan
                - dynamodb:GetItem
                - dynamodb:PutItem
                - dynamodb:UpdateItem
                - dynamodb:DeleteItem
              Resource:
                - "arn:aws:dynamodb:${aws:region}:*:table/${self:provider.environment.DATA_DISCLOSURE_VERSIONS_TABLE}"
                - "arn:aws:dynamodb:${aws:region}:*:table/${self:provider.environment.DATA_DISCLOSURE_VERSIONS_TABLE}/index/*"
                - "arn:aws:dynamodb:${aws:region}:*:table/${self:provider.environment.DATA_DISCLOSURE_ACCEPTANCE_TABLE}"
                - "arn:aws:dynamodb:${aws:region}:*:table/${self:provider.environment.DATA_DISCLOSURE_ACCEPTANCE_TABLE}/index/*"
                - "arn:aws:dynamodb:${aws:region}:*:table/${self:provider.environment.COST_CALCULATIONS_DYNAMO_TABLE}"
                - "arn:aws:dynamodb:${aws:region}:*:table/${self:provider.environment.COST_CALCULATIONS_DYNAMO_TABLE}/*"
                - "arn:aws:dynamodb:${aws:region}:*:table/${self:provider.environment.API_KEYS_DYNAMODB_TABLE}"
                - "arn:aws:dynamodb:${aws:region}:*:table/${self:provider.environment.ACCOUNTS_DYNAMO_TABLE}"
                - "arn:aws:dynamodb:${aws:region}:*:table/${self:provider.environment.API_KEYS_DYNAMODB_TABLE}/index/*"
                - "arn:aws:dynamodb:${aws:region}:*:table/${self:provider.environment.ACCOUNTS_DYNAMO_TABLE}/index/*"
                - "arn:aws:s3:::${self:provider.environment.S3_CONSOLIDATION_BUCKET_NAME}"
                - "arn:aws:s3:::${self:provider.environment.S3_CONSOLIDATION_BUCKET_NAME}/*"
            - Effect: "Allow"
              Action:
                - "s3:PutObject"
                - "s3:GetObject"
                - "s3:HeadObject"
                - "s3:PutBucketNotification"
              Resource: 
                - "arn:aws:s3:::${self:provider.environment.DATA_DISCLOSURE_STORAGE_BUCKET}"   #Marked for future deletion
                - "arn:aws:s3:::${self:provider.environment.DATA_DISCLOSURE_STORAGE_BUCKET}/*"  #Marked for future deletion
            - Effect: Allow
              Action:
                - dynamodb:GetItem
                - dynamodb:PutItem
                - dynamodb:UpdateItem
                - dynamodb:Query
              Resource:
                - "arn:aws:dynamodb:${aws:region}:*:table/${self:provider.environment.ENV_VARS_TRACKING_TABLE}"
                - "arn:aws:dynamodb:${aws:region}:*:table/${self:provider.environment.ENV_VARS_TRACKING_TABLE}/index/*" 
            - Effect: Allow
              Action:
                - ssm:GetParameter
                - ssm:GetParameters
                - ssm:GetParametersByPath
              Resource:
                - arn:aws:ssm:${self:provider.region}:${aws:accountId}:parameter${self:custom.ssmBasePath}-*   
    # contains records of what emails have accepted the data disclosure
    DataDisclosureAcceptanceTable:
      Type: 'AWS::DynamoDB::Table'
      Properties:
        BillingMode: PAY_PER_REQUEST
        PointInTimeRecoverySpecification:
          PointInTimeRecoveryEnabled: true
        SSESpecification:
          SSEEnabled: true
        AttributeDefinitions:
          - AttributeName: user
            AttributeType: S
        KeySchema:
          - AttributeName: user
            KeyType: HASH
        TableName: ${self:provider.environment.DATA_DISCLOSURE_ACCEPTANCE_TABLE}

    # contains all information about the data disclosures and their versions
    DataDisclosureVersionsTable:
      Type: 'AWS::DynamoDB::Table'
      Properties:
        BillingMode: PAY_PER_REQUEST
        PointInTimeRecoverySpecification:
          PointInTimeRecoveryEnabled: true
        SSESpecification:
          SSEEnabled: true  
        AttributeDefinitions:
          - AttributeName: key
            AttributeType: S
          - AttributeName: version
            AttributeType: N
        KeySchema:
          - AttributeName: key
            KeyType: HASH
          - AttributeName: version
            KeyType: RANGE
        TableName: ${self:provider.environment.DATA_DISCLOSURE_VERSIONS_TABLE}

    # contains all versions of the data disclosure
    DataDisclosureStorage: #Marked for future deletion
      Type: 'AWS::S3::Bucket'
      DependsOn: DataDisclosureIAMPolicy
      Properties:
        BucketName: ${self:provider.environment.DATA_DISCLOSURE_STORAGE_BUCKET}
        CorsConfiguration:
          CorsRules:
            - AllowedOrigins: ['*']
              AllowedMethods: ['GET', 'PUT']
              AllowedHeaders: ['*']
              MaxAge: 3000
        BucketEncryption:
          ServerSideEncryptionConfiguration:
            - ServerSideEncryptionByDefault:
                SSEAlgorithm: AES256

                