dataclasses-json==0.6.3
jsonschema==4.17.3
requests==2.31.0
python-jose==3.3.0
python-dotenv==1.0.0
mysql_connector_python==8.3.0
pydantic==2.5.3
boto3==1.34.23
botocore==1.34.23
pandas==2.2.1
openai==1.3.1