# Markitdown dependencies
markitdown[all]==0.1.0a1
markitdown[az-doc-intel]==0.1.0a1
olefile>=0.47
chardet==5.2.0
    # via -r requirements.in
pypdfium2==4.30.1
    # via -r requirements.in
python-docx==1.1.2
    # via -r requirements.in       
tiktoken==0.8.0
    # via -r requirements.in

urllib3==2.3.0
    # via
    #   botocore
    #   requestsnltk==3.8.1
    # via -r requirements.in
nltk==3.8.1
    # via -r requirements.in
pymupdf==1.25.1
    # via -r requirements.in

# Required for pycommon modules and rag/core
pydantic>=2.0.0

