boto3==1.29.1
botocore==1.32.1
jsonschema==4.17.3
jsonschema-specifications==2023.11.1
python-dateutil==2.8.2
httpcore==1.0.2
httpx==0.25.1
pydantic==2.4.2
pydantic_core==2.10.1
python-jose==3.3.0
python-dotenv==1.0.0
requests==2.31.0