.git
.github
.serverless
node_modules
venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
.DS_Store
test-cases
.idea
.serverless
.git
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.pytest_cache/
.coverage