annotated-types==0.6.0
anyio==3.7.1
attrs==23.1.0
boto3==1.29.1
botocore==1.32.7
httpcore==1.0.5
httpx==0.25.1
jsonschema==4.17.3
jsonschema-specifications==2023.11.1
Pillow==10.1.0
pyasn1==0.5.0
pydantic==2.4.2
pydantic_core==2.10.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-jose==3.3.0
PyYAML==6.0.1
regex==2023.10.3
requests==2.31.0

